input {
    display: block;
    margin-top: 5px;
}

#name1 {
    width: 250px;
}

#name2 {
    width: 250px;
}

.video {
    width: 350px;
    height: 350px;
    margin-left: 25px;
}

li {
    list-style-type: none;
}

.recipe {
    display: inline-block;
    width: 250px;
}

.bold {
    font-weight: bold;
} 
