input { 
    display: block;
    margin-top: 5px;
}

#name1 {
    width: 250px;
}

#name2 {
    width: 250px;
}

.video {
    width: 350px;
    height: 350px;
    margin-left: 10px;
}

li {
    list-style-type: none;
}

.recipe {
    width: 250px;
    margin-left: 10px;
}

.bold {
    font-weight: bold;
}
